# SQL Engine Connection

In [1]:
#import dependencies
import pandas
from connect_sql_db import build_engine

In [2]:
#create engine for db
engine = build_engine()

# Collect Data

In [5]:
#create a df for each movie csv
movies_df = pandas.read_csv("../data/movies/IMDb movies.csv",low_memory=False)
names_df = pandas.read_csv("../data/movies/IMDb names.csv",low_memory=False)
ratings_df = pandas.read_csv("../data/movies/IMDb ratings.csv",low_memory=False)
title_principlas_df = pandas.read_csv("../data/movies/IMDb title_principals.csv",low_memory=False)

#create a df for each restaurant csv
future_df = pandas.read_csv("../data/restaurant_data/Future50.csv",low_memory=False)
independence_df = pandas.read_csv("../data/restaurant_data/Independence100.csv",low_memory=False)
top250_df = pandas.read_csv("../data/restaurant_data/Top250.csv",low_memory=False)

#movies data dictionary
movies_tables = {
    "movies":movies_df,
    "names":names_df,
    "ratings":ratings_df,
    "title_principals": title_principlas_df
}

#restaurant data dictionary
rest_tables = {
    "Future_50":future_df,
    "Independence_100":independence_df,
    "Top250":top250_df
}

# Functions for Interacting with Postgre

In [3]:
#return movies dataframe dictionary from sql
def read_in_movies():
    return_me = {}
    for i,v in movies_tables.items():
        return_me[i] = pandas.read_sql(f'select * from "{i}"',con=engine)
        
    return return_me

#return restaurant dataframe dictionary from sql
def read_in_rest():
    return_me = {}
    for i,v in rest_tables.items():
        return_me[i] = pandas.read_sql(f'select * from "{i}"',con=engine)
        
    return return_me


#send dataframe dictionary to sql
def send_in_dataframes(tables_dict):
    for i,v in tables_dict.items():
        v.to_sql(f"{i}", con = engine, index = False)
        print(f"{i} movies sent...")
    return "dataframe data sent"

#drop dataframe dictionary from sql
def drop_dataframes(tables_dict):
    with engine.connect() as connection:
        for i in tables_dict.keys():
            connection.execute(f'DROP TABLE "{i}"')
            print(f"{i} dropped...")
    return "tables dropped"

# ETL Process

In [5]:
#sending movies dfs to sql
send_in_dataframes(movies_tables)

movies movies sent...
names movies sent...
ratings movies sent...
title_principals movies sent...

'dataframe data sent'

In [6]:
#sending restaurnt dfs to sql
send_in_dataframes(rest_tables)

Future_50 movies sent...
Independence_100 movies sent...
Top250 movies sent...

'dataframe data sent'

### Movies Data

In [6]:
#read in movies data from sql
dictionary_of_movies_dfs = read_in_movies()

for table_name,dataframe in dictionary_of_movies_dfs.items():
    print(table_name + ":","\n\n",dataframe.dtypes,"\n\n\n")
#dtypes

movies:

 imdb_title_id             object
title                     object
original_title            object
year                      object
date_published            object
genre                     object
duration                   int64
country                   object
language                  object
director                  object
writer                    object
production_company        object
actors                    object
description               object
avg_vote                 float64
votes                      int64
budget                    object
usa_gross_income          object
worlwide_gross_income     object
metascore                float64
reviews_from_users       float64
reviews_from_critics     float64
dtype: object



names:

 imdb_name_id              object
name                      object
birth_name                object
height                   float64
bio                       object
birth_details             object
date_of_birth             object
place_of_birth            object
death_details             object
date_of_death             object
place_of_death            object
reason_of_death           object
spouses_string            object
spouses                    int64
divorces                   int64
spouses_with_children      int64
children                   int64
dtype: object



ratings:

 imdb_title_id                 object
weighted_average_vote        float64
total_votes                    int64
mean_vote                    float64
median_vote                  float64
votes_10                       int64
votes_9                        int64
votes_8                        int64
votes_7                        int64
votes_6                        int64
votes_5                        int64
votes_4                        int64
votes_3                        int64
votes_2                        int64
votes_1                        int64
allgenders_0age_avg_vote     float64
allgenders_0age_votes        float64
allgenders_18age_avg_vote    float64
allgenders_18age_votes       float64
allgenders_30age_avg_vote    float64
allgenders_30age_votes       float64
allgenders_45age_avg_vote    float64
allgenders_45age_votes       float64
males_allages_avg_vote       float64
males_allages_votes          float64
males_0age_avg_vote          float64
males_0age_votes             float64
males_18age_avg_vote         float64
males_18age_votes            float64
males_30age_avg_vote         float64
males_30age_votes            float64
males_45age_avg_vote         float64
males_45age_votes            float64
females_allages_avg_vote     float64
females_allages_votes        float64
females_0age_avg_vote        float64
females_0age_votes           float64
females_18age_avg_vote       float64
females_18age_votes          float64
females_30age_avg_vote       float64
females_30age_votes          float64
females_45age_avg_vote       float64
females_45age_votes          float64
top1000_voters_rating        float64
top1000_voters_votes         float64
us_voters_rating             float64
us_voters_votes              float64
non_us_voters_rating         float64
non_us_voters_votes          float64
dtype: object



title_principals:

 imdb_title_id    object
ordering          int64
imdb_name_id     object
category         object
job              object
characters       object
dtype: object

In [8]:
for table_name,dataframe in dictionary_of_movies_dfs.items():
    print(table_name + ":","\n\n",dataframe.isna().sum(),"\n\n\n")
#null values

movies:

 imdb_title_id                0
title                        0
original_title               0
year                         0
date_published               0
genre                        0
duration                     0
country                     64
language                   833
director                    87
writer                    1572
production_company        4455
actors                      69
description               2115
avg_vote                     0
votes                        0
budget                   62145
usa_gross_income         70529
worlwide_gross_income    54839
metascore                72550
reviews_from_users        7597
reviews_from_critics     11797
dtype: int64



names:

 imdb_name_id                  0
name                          0
birth_name                    0
height                   253024
bio                       93007
birth_details            187093
date_of_birth            187093
place_of_birth           193713
death_details            257772
date_of_death            257772
place_of_death           260667
reason_of_death          275011
spouses_string           252353
spouses                       0
divorces                      0
spouses_with_children         0
children                      0
dtype: int64



ratings:

 imdb_title_id                    0
weighted_average_vote            0
total_votes                      0
mean_vote                        0
median_vote                      0
votes_10                         0
votes_9                          0
votes_8                          0
votes_7                          0
votes_6                          0
votes_5                          0
votes_4                          0
votes_3                          0
votes_2                          0
votes_1                          0
allgenders_0age_avg_vote     52496
allgenders_0age_votes        52496
allgenders_18age_avg_vote      706
allgenders_18age_votes         706
allgenders_30age_avg_vote       10
allgenders_30age_votes          10
allgenders_45age_avg_vote       80
allgenders_45age_votes          80
males_allages_avg_vote           1
males_allages_votes              1
males_0age_avg_vote          58444
males_0age_votes             58444
males_18age_avg_vote          1465
males_18age_votes             1465
males_30age_avg_vote            12
males_30age_votes               12
males_45age_avg_vote           101
males_45age_votes              101
females_allages_avg_vote        81
females_allages_votes           81
females_0age_avg_vote        63738
females_0age_votes           63738
females_18age_avg_vote        6521
females_18age_votes           6521
females_30age_avg_vote         944
females_30age_votes            944
females_45age_avg_vote        2798
females_45age_votes           2798
top1000_voters_rating          679
top1000_voters_votes           679
us_voters_rating               209
us_voters_votes                209
non_us_voters_rating             1
non_us_voters_votes              1
dtype: int64



title_principals:

 imdb_title_id         0
ordering              0
imdb_name_id          0
category              0
job              622782
characters       494677
dtype: int64

### Restaurant Data

In [7]:
#read in restaurant data from sql
dictionary_of_restaurant_dfs = read_in_rest()


for table_name,dataframe in dictionary_of_restaurant_dfs.items():
    print(table_name + ":","\n\n",dataframe.dtypes,"\n\n\n")
#dytpes

Future_50:

 Rank            int64
Restaurant     object
Location       object
Sales           int64
YOY_Sales      object
Units           int64
YOY_Units      object
Unit_Volume     int64
Franchising    object
dtype: object



Independence_100:

 Rank               int64
Restaurant        object
Sales            float64
Average Check      int64
City              object
State             object
Meals Served     float64
dtype: object



Top250:

 Rank                 int64
Restaurant          object
Content             object
Sales                int64
YOY_Sales           object
Units                int64
YOY_Units           object
Headquarters        object
Segment_Category    object
dtype: object

In [9]:
for table_name,dataframe in dictionary_of_restaurant_dfs.items():
    print(table_name + ":","\n\n",dataframe.isna().sum(),"\n\n\n")

#null values

Future_50:

 Rank           0
Restaurant     0
Location       0
Sales          0
YOY_Sales      0
Units          0
YOY_Units      0
Unit_Volume    0
Franchising    0
dtype: int64



Independence_100:

 Rank             0
Restaurant       0
Sales            0
Average Check    0
City             0
State            0
Meals Served     0
dtype: int64



Top250:

 Rank                  0
Restaurant            0
Content             217
Sales                 0
YOY_Sales             0
Units                 0
YOY_Units             0
Headquarters        198
Segment_Category      0
dtype: int64